<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="app.css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1> Quickly look up your artist's songs </h1>

    <form action="/songlist" method="GET">
      <input type="text" placeholder="search term" name="userinput">
        <!-- *needto add the name attribute so then this can be the thing that we search by -->
      <input type="submit">
    </form>
  </body>
</html>
